#heading {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2,
    -16px 16px #2196f3, -20px 20px #26c6da, -24px 24px #43a047,
    -28px 28px #eeff41, -32px 32px #f9a825, -36px 36px #ff5722;
}

body {
  background-color: lightgrey;
}
.radioWrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  border: 2px solid red;
  background-color: white;
  border-radius: 5px;
}

.radioButton {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 0, 0, 0.831);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
}

.radioButton:checked {
  background-color: red;
  border: 2px solid rgb(220, 141, 141);
}

.radioButton:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioWrapper span {
  font-weight: bold;
  color: red;
}

.radioWrapper:hover .radioButton {
  border-color: rgb(223, 56, 56);
}

.input {
  width: 50%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: #fff;
  color: #000;
}

.result {
  font-size: 30px;
  font-weight: bold;
  color: #f00;
}

.calcBtn {
  width: 50%;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
